.fundo {
	background-color: #f3e3ffe0;
	width: 720px;
}
.largura {
	width: 700px;
	margin: auto;
}

.menu {
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	width: 700px;
	margin: auto;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
	border: 2px solid rgb(202, 170, 202);
	padding: 5px;
	
}
.menu > a {
	text-decoration: none;
	color: black;
	margin-right: 20px;
}

.menu >a:visited {
	color: rgb(44, 0, 126);
}
.menu > a:hover {
	color: rgb(255, 255, 255);
}

h1 {
  font-family: 'Nunito', sans-serif;
	padding-bottom: 5px;
	border-bottom: 5px dotted white;
}

.conteudo {
	font-family: 'Quicksand', sans-serif;
	line-height: 32px;
}

.img-principal {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.selecionado {
	border-bottom: 4px dotted white;
}

.preenchimento {
  background-color: rgb(226, 206, 226);
  height: 25px;
  overflow: block;
}
