.largura {
	width: 700px;
	margin: auto;
}

.menu {
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	width: 700px;
	margin: auto;
	text-align: center;
}
.menu > a {
	text-decoration: none;
	color: black;
	margin-right: 20px;
}

.menu >a:visited {
	color: rgb(103, 46, 211);
}
.menu > a:hover {
	color: darkblue;
}

h1 {
  font-family: 'Nunito', sans-serif;
padding-bottom: 5px;
border-bottom: 2px dotted black;
}
