.fundo {
	background-color: #f3e3ffe0;
	width: 1000px;
}
.largura {
	width: 1000px;
	margin: auto;
}

.menu {
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	width: 710px;
	margin: auto;
	text-align: center;
	margin-bottom: 30px;
	padding: 5px;
	
}

.menu > a {
	text-decoration: none;
	color: blueviolet;
	margin-right: 20px;
}

.menu >a:visited {
	color: rgb(214, 195, 250);
}
.menu > a:hover {
	color:white;
}

h1 {
  font-family: 'Nunito', sans-serif;
	padding-bottom: 5px;
	border-bottom: 5px dotted white;
}

p {
	margin-left: 20px;
}

h2, h3, h4, iframe {
	margin-left: 20px;

}

.conteudo {
	font-family: 'Quicksand', sans-serif;
	line-height: 32px;
}

.img-principal {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}

.selecionado {
	border-bottom: 4px dotted white;
}

.preenchimento {
  background-color: purple;
  height: 25px;
	display:block;
}
